nav{
  background-color: rgb(3, 3, 51);
  padding-left: 150px;
  display: flex;
}

img{
  width: 60px;
  padding: 10px;
}

nav p{
  color: white;
  display: inline-block;
  margin-right: 500px;
  line-height: 1.5em;
  font-family: cambria;
}


nav li{
  display: inline-block;
  padding: 15px;
}

nav li a{
  text-decoration: none;
  color: white;
  font-family: cambria;
}



main{
  background-color: rgb(142, 142, 145);
  width: 100%;
}

main h3{
  margin: 0;
  color: rgb(142, 142, 145);
}

.active{
  background-color: rgb(172, 118, 19);
}